{% extends 'base.html.twig' %}

{% block title %}Admin - User Index{% endblock %}

{% block body %}
    <h1>User Index</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">Edit</a>
                        <a href="{{ path('admin_user_delete', { 'id': user.id }) }}" onclick="return confirm('Are you sure?');">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}