DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ last_name }}</p>


    {% for property in propertys %}
        {{property.id}}
        {{property.title}}

    {% endfor %}

    



    
</body>
</html>

